# ignore all files start with .
.* 
!.gitignore
!.gitlab-ci.yml

#  ignore all executable file and internal file
dns_svr
*.exe
*.o
*.bat
*.sh

# ignore all test case
*.txt
packets
visible

#ignore log file
dns_svr.log